<section class="container">
<h1 class="mt-5 mb-2"><%=@user.name%> data: <h1>
 <div class="blist-group-item list-group-item-light border card mb-2">
    <%= render @user%>
</div>
<div class="card mb-2">
  <div class="card-header">
    <h5 class="card-title m-2">Bio</h5>
  </div>
  <div class="card-body">
    <h3 class="card-text"><%= @user.bio %></h3>
  </div>
</div>

 <% @posts.each do |post| %>
   <div class="card mb-2">
    <%=render post%>
 </div>
<% end %>
<div class="d-flex  justify-content-center" >
 <a href='/users/<%=@user.id%>/posts' class="btn btn-primary p-2" style="width: 200px;">see all posts</a>
 </div>
</section>