<div class="mb-2">
   <div class="card-body m-3 w-75">
        <h2 class="card-title"><%= post.title %><h2>
      <h4 class="card-text "><%=post.text%></h4>
      <h6 class="card-text d-flex  justify-content-end ">
        <small class="text-body-secondary">Comments : <%=post.comments_counter%> Likes : <%=post.likes_counter%>
        </small>
         <% if post.author_id == @user.id || @user.admin? %>
            <%= button_to 'Delete Post', user_post_path(post.author_id,post), method: :delete, class: 'btn btn-danger' %>
         <% end %>
      </h6>
    </div>
</div>